<div class="home-right">
    <div class="primary-block">
        <div class="login-block in-10">
            <p class="login-text">Đăng nhập</p>

            <form class="form-login" action="">
                <div class="out-10">
                    <input type="text" class="form-style input-lg" required="required" name="username" placeholder="Tên đăng nhập" autofocus />
                </div>
                <div class="out-10">
                    <input type="password" class="form-style input-lg" required="required" name="password" placeholder="Mật khẩu" />
                </div>
                <div class="out-10">
                    <p class="lostpass"><a href="#">Tôi đã quên mật khẩu ?</a></p>
                </div>
                <div class="out-10">
                    <button class="btn btn-blue btn-block btn-upper btn-lg" type="submit">Đăng nhập</button>
                </div>
                <div class="out-10 register-line-block">
                    <p>Tôi chưa có tài khoản</p>
                    <a href="#" class="btn btn-orange btn-block btn-lg">Đăng ký tài khoản</a>
                </div>
            </form>
        </div>
    </div>
</div>