<div align="right" id="iframe_livesupport">
<link href="support/livesupport.css" rel="stylesheet" type="text/css">
<div id="livesupport" class="livesupport">
	<div class="topsp">
    	<div class="icon_sp"><img src="support/panel_title_en.png" style="border:0;"></div>
        <div class="hide_sp"><a onclick="support_close_panel();return false;" style="cursor:pointer;" title="Close"><img src="support/panel_close.png" style="border:0;" onmouseover="this.src='support/panel_close2.png';" onmouseout="this.src='support/panel_close.png';"></a></div>
    </div>
    <div class="sup_content">
        <ul class="user">
        	<li class="nick_sp">
    			<a href="ymsgr:sendim?hotromu"><img src="http://opi.yahoo.com/online?u=hotromu&m=g&t=2"/><br />
                    Hỗ trợ Tài Khoản
                </a><br /><br />
    			<a href="ymsgr:sendim?hotromu"><img src="http://opi.yahoo.com/online?u=hotromu&m=g&t=2"/><br />
                    Hỗ trợ Nạp thẻ
                </a><br /><br />
        		<a href="ymsgr:sendim?hotromu"><img src="http://opi.yahoo.com/online?u=hotromu&m=g&t=2"/><br />
                    Hỗ trợ Game, Event
                </a><hr />
				Vui lòng đưa luôn nội dung cần hỗ trợ. Không gọi hay nói những câu vô nghĩa mà không có nội dung như : Anh ơi, Help me,... Chỉ khi nhận được nội dung cần hỗ trợ, BQT mới PM lại.
			</li>
        </ul>
    </div>
    <div class="sup_ft"></div>
</div>
<div id="closeDiv">
	<div class="imgClose">
    	<div class="hide_sp">
        	<a title="Open Panel" style="cursor:pointer;" onclick="support_open_panel();return false;"><img onmouseout="this.src='support/panel_open.png';" onmouseover="this.src='support/panel_open2.png';" style="border:0;" src="support/panel_open.png"></a>
       	</div>
    </div>    
</div>
 
<script>
	function support_close_panel(){
		$('.livesupport').hide(300);
		$('#closeDiv').show(300);
	}
	function support_open_panel(){
		$('#closeDiv').hide(300);
		$('.livesupport').show(300);
	}
 </script>
 
 
</div>

<style type="text/css">
#iframe_livesupport{
	height: auto;
	position: fixed;
	right: 0;
	bottom:88px;
	width: 168px;
	border:none;
	
}
</style>