<div class="ModuleManage">
    <h3 class="TitleModule">Cộng Đồng</h3>
    
    <div class="BlockTwoColumn">
    
    <a href="#com" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Lô Đề
		<span style="line-height:18px">Đang phát triển</span></p>
	</a>
    
    
    <a href="#com" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Bóng Đá
		<span style="line-height:18px">Đang phát triển</span></p>
	</a>

    
    
    </div>
</div>