<div class="ModuleManage">
    <h3 class="TitleModule">Lệnh trong Game</h3>
    
    <div class="BlockTwoColumn">

    <b>Lệnh Cộng Điểm Nhanh</b>
    <ul>
        <li><strong>/addstr</strong> xxx : Cộng sức mạnh</li>
        <li><strong>/addagi</strong> xxx : Cộng nhanh nhẹn</li>
        <li><strong>/addvit</strong> xxx : Cộng sức khỏe</li>
        <li><strong>/addene</strong> xxx : Cộng năng lượng</li>
        <li><strong>/addcmd</strong> xxx : Cộng mệnh lệnh</li>
        
    </ul>
    <b>Lệnh thường dùng</b>
    <ul>
        <li><strong>/post</strong> Nội dung : Chat toàn Server</li>
        <li><strong>/pkclear</strong> : Rửa tội</li>
        <li><strong>/GuildWar</strong> Tên Guild : Chiến Guild</li>
        <li><strong>/BattleSoccer</strong> Tên Guild : Thi đấu đá bóng tại Stadium (Arena)</li>
        <li><strong>/Request</strong> on ( off ) : Bật tắt chức năng nhận lệnh từ người khác</li>
        <li><strong>/Move</strong> hoặc <strong>/Warp</strong> : Di chuyển đến một map (ví dụ : /move noria)</li>
    </ul>
    <b>Lệnh cưới hỏi</b>
    <ul>
        <li><strong>/marry</strong> : Hỏi cưới<br />Chú ý : chú rể và cô dâu đứng ở đúng Tọa độ Devias2 : 14 25 và 14 26 ( Trong nhà thờ davias )</li>
        <li><strong>/acceptmarry</strong> : Đồng ý cưới</li>
        <li><strong>/divorce</strong> : Từ chối</li>
        <li><strong>/tracemarry</strong> : Di chuyển đến Chồng/Vợ</li>
        <li><strong>/forcedivorce</strong> : Ly dị</li>
    </ul>
    <b>Lệnh biểu cảm</b>
    <ul>
        <li><strong>/Dance</strong> : Nhảy Dance</li>
        <li><strong>Respect</strong> : Quỳ xuống cầu xin</li>
        <li><strong>^_^</strong>, <strong>haha</strong>, <strong>hehe</strong> : Cười</li>
        <li><strong>Good</strong>, <strong>Wow</strong> : 1 trong 2 từ sẽ có tư thế vỗ tay bốp bốp</li>
        <li><strong>Rush</strong> : Tư thế tấn công</li>
        <li><strong>Sir</strong> : Tư thế chào đại ca</li>
        <li><strong>T_T</strong> : Ôm đầu đau khổ</li>
        <li><strong>Win</strong> : Giơ tay chiến thắng</li>
        <li><strong>Go go go</strong> : Tấn công</li>
        <li><strong>Hello</strong> : Chào</li>
        <li><strong>Bye bye</strong> : Tạm biệt</li>
        <li><strong>;</strong> : Gãi đầu</li>
    </ul>
    
    </div>
</div>