<div class="ModuleManage">
    <h3 class="TitleModule">Quản lý Bang Hội</h3>
    
    <div class="BlockTwoColumn">
    
    <a href="#guild&act=balance" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cân Bằng Thế Lực
		<span style="line-height:18px">Chính sách cân bằng Thế Lực</span></p>
	</a>
    
   
   
   
    </div>
</div>