<div class="ModuleManage">
    <h3 class="TitleModule">Đổi mật khẩu vào Game</h3>
    
    <div class="BlockTwoColumn">

<?php if(isset($Use_MayChao_LongCondor) && $Use_MayChao_LongCondor == 1) { ?>
    <a href="#maychao&act=longcondor" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Lông Vũ Condor
		<span style="line-height:18px">Ép Lông Vũ Condor</span></p>
	</a>
<?php } ?>

    </div>
</div>