<div class="ModuleManage">
    <h3 class="TitleModule">Bảng xếp hạng</h3>
    
    <div class="content">
        
    
    <div class="menulist">
        <a href="#rank&act=rank_point" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Point
    		<span>Bảng Xếp Hạng Point</span></p>
    	</a>
    </div>
    
    
    <div class="menulist">
        <a href="#rank&act=rankpointrs&action=daily&type=all" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Danh Vọng 1
    		<span>Reset + Reset OVER</span></p>
    	</a>
    </div>
    
    <div class="menulist">
        <a href="#rank&act=rankpointrs2&action=daily&type=all" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Danh Vọng 2
    		<span>Reset</span></p>
    	</a>
    </div>
    
    
    <div class="menulist">
        <a href="#rank&act=rankrs&action=daily&type=all" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Thực Hiện Reset 1
    		<span>Reset + Reset OVER + Reset Ủy thác</span></p>
    	</a>
    </div>
    
    
    <div class="menulist">
        <a href="#rank&act=rankrs2&action=daily&type=all" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Thực Hiện Reset 2
    		<span>Reset</span></p>
    	</a>
    </div>
    
    
    <div class="menulist">
        <a href="#rank&act=rankrs3&action=daily&type=all" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Thực Hiện Reset 3
    		<span>Reset + Reset OVER</span></p>
    	</a>
    </div>
    
    <div class="menulist">
        <a href="#rank&act=ranking" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Reset/Relife
    		<span>Bảng Xếp Hạng Reset/Relife</span></p>
    	</a>
    </div>
    
    <div class="menulist">
        <a href="#rank&act=rank_tuluyen" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Tu Luyện
    		<span>Bảng Xếp Hạng Tu Luyện</span></p>
    	</a>
    </div>
    
    <div class="menulist">
        <a href="#rank&act=rank_phucloi" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Phúc Lợi
    		<span>Bảng Xếp Hạng Phúc Lợi</span></p>
    	</a>
    </div>
    
    <div class="menulist">
        <a href="#rank&act=rank_songtu" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Song Tu
    		<span>Bảng Xếp Hạng Song Tu</span></p>
    	</a>
    </div>
    
    <div class="menulist">
        <a href="#rank&act=ranking_guild" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH Bang Hội
    		<span>Bảng Xếp Hạng Bang Hội</span></p>
    	</a>
    </div>
    
    <div class="menulist">
        <a href="#rank&act=rank50" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>BXH TOP Lúc 0h
    		<span>Liên quan Giới hạn Reset ngày theo TOP</span></p>
    	</a>
    </div>
        
    </div>
</div>