<div class="ModuleManage">
    <h3 class="TitleModule">Thuê Item</h3>
    
    <div class="BlockTwoColumn">


<?php if (isset($Use_ThueTapHoa) && $Use_ThueTapHoa == 1) { ?>
    <a href="#reward&act=thue_taphoa" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Tạp Hóa
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueKiem) && $Use_ThueKiem == 1) { ?>
    <a href="#reward&act=thue_kiem" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Kiếm
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueGay) && $Use_ThueGay == 1) { ?>
    <a href="#reward&act=thue_gay" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Gậy Phép Thuật
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueCung) && $Use_ThueCung == 1) { ?>
    <a href="#reward&act=thue_cung" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Cung - Nỏ
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueVuKhiKhac) && $Use_ThueVuKhiKhac == 1) { ?>
    <a href="#reward&act=thue_vukhikhac" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Vũ khí khác
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueKhien) && $Use_ThueKhien == 1) { ?>
    <a href="#reward&act=thue_khien" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Khiên
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueMu) && $Use_ThueMu == 1) { ?>
    <a href="#reward&act=thue_mu" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Mũ
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueAo) && $Use_ThueAo == 1) { ?>
    <a href="#reward&act=thue_ao" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Áo
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueQuan) && $Use_ThueQuan == 1) { ?>
    <a href="#reward&act=thue_quan" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Quần
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueTay) && $Use_ThueTay == 1) { ?>
    <a href="#reward&act=thue_tay" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Găng Tay
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>
		
<?php if (isset($Use_ThueChan) && $Use_ThueChan == 1) { ?>
    <a href="#reward&act=thue_chan" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Giày
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueTrangSuc) && $Use_ThueTrangSuc == 1) { ?>
    <a href="#reward&act=thue_trangsuc" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Trang Sức
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


<?php if (isset($Use_ThueCanh) && $Use_ThueCanh == 1) { ?>
    <a href="#reward&act=thue_canh" rel="ajax" class="cont03">
		<p><img src="images/dot.png" alt="" />Cho Thuê Cánh
		<span style="line-height:18px"></span></p>
	</a>
<?php } ?>


    </div>
</div>