<div class="ModuleManage">
    <h3 class="TitleModule">Gửi yêu cầu hỗ trợ đến Admin</h3>
    
    <div class="BlockTwoColumn">
    - Hệ thống sẽ gửi yêu cầu hỗ trợ trực tiếp đến Số điện thoại của Admin.<br />
    - Giúp bạn có thể được hỗ trợ trong thời gian sớm nhất khi Admin không Online.<br /><br />
    <center>
    <font color='black'>Vui lòng dùng SĐT bất kỳ nhắn tin với cú pháp bên dưới để gửi yêu cầu hỗ trợ</font><br>
						<font color='red'><b>VNF&nbsp;&nbsp;&nbsp;<?php echo $cuphap; ?>&nbsp;&nbsp;&nbsp;Nội Dung Cần Hỗ Trợ</b></font>&nbsp;&nbsp;&nbsp;gửi&nbsp;&nbsp;&nbsp;<font color='blue'><b><?php echo $dauso; ?></b></font> <font color='gray'><i>(Phí nhắn tin : <?php echo $sms_price; ?> VNĐ)</i></font><br>
    </center>
    <strong>Lưu ý</strong> :
    <ul>
        <li>Nội dung cần hỗ trợ ghi càng rõ, càng chi tiết càng tốt.</li>
        <li>Nội dung cần hỗ trợ : <strong>tiếng việt</strong>, <strong>không dấu</strong>, tối đa <strong>150 ký tự</strong>.</li>
        <li>Yêu cầu <strong>hỗ trợ về tài khoản</strong> phải có tài khoản trong Nội dung hỗ trợ.<br />
        <strong>Ví dụ</strong>: <font color='red'>VNF <?php echo $cuphap; ?> Can ho tro tai khoan <strong>admin</strong> bi mat pass</font></li>
        <li>Yêu cầu <strong>hỗ trợ về nhân vật</strong> phải có nhân vật trong Nội dung hỗ trợ.<br />
        <strong>Ví dụ</strong>: <font color='red'>VNF <?php echo $cuphap; ?> Can ho tro nhan vat <strong>Admin</strong> bi ket khong the vao Game</font></li>
        <li>Yêu cầu <strong>hỗ trợ về thẻ nạp</strong> phải có tài khoản nạp thẻ trong Nội dung hỗ trợ.<br />
        <strong>Ví dụ</strong>: <font color='red'>VNF <?php echo $cuphap; ?> Can kich hoat the nap cua tai khoan <strong>admin</strong></font></li>
    </ul>
    </div>
</div>