<!-- BEGIN: QUANGVN_TEMPLATE -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="robots" content="index,follow" />
    <meta name="robots" content="noodp,noydir" />
    <meta http-equiv="Expires" content="-1" />
    <link rel="icon" type="image/png" href="http://mu-hanoi.net/common/favicon.png?1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{TITLE} - NWebMU VIP</title>
    <meta name="description" content="Quản lý Tài khoản {DESCRIPTION}" />
    <meta name="keywords" content="{KEYWORDS}" />

    <script type="text/javascript" src="{URL}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{TEMPLATE}/js/jquery.cookie.js"></script>

    <script src="{TEMPLATE}/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="{TEMPLATE}/js/jquery.colorbox.js"></script>

    <script type="text/javascript" src="{URL}/js/tooltip.jquery.js"></script>
    <script type="text/javascript" src="{URL}/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="{URL}/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="{URL}/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

    <script type="text/javascript" src="{URL}/js/check.js"></script>
    <script type="text/javascript" src="{URL}/js/js_140903.js?v={VERSION_JS}"></script>

    <link rel="stylesheet" type="text/css" href="{TEMPLATE}/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{TEMPLATE}/css/common.css">
    <link rel="stylesheet" type="text/css" href="{TEMPLATE}/css/style.css">
    <script type="text/javascript" src="{TEMPLATE}/js/common.js"></script>
</head>
<body>
<div class="wrap-fluid {LEFT_MENU}">
    <div class="topuser">
        <div class="logo">
            <img src="{TEMPLATE}/images/logo-min.png" />
        </div>
        <!--<div class="money_block">
            <span class="money_sub money_tit">Tiền tệ: </span>
            <span class="money_sub money_gc">9.400.000.000</span>
            <span class="money_sub money_gcp">4.000.000</span>
            <span class="money_sub money_vc">4.000.000</span>
            <span class="money_sub money_wc">4.000.000</span>
        </div>
        <div class="rightuser">
            <div class="top_notice">

            </div>
            <div class="userinfo">

            </div>
        </div>-->
        <span class="welcome">Hệ thống web tài khoản NWebMU VIP.</span>
    </div>
    <div class="col-left">
        {FILE "templates/box_menu.tpl"}
    </div>
    <div class="col-right">
        <div class="right-content">
            <div class="home-login-block">
                <div class="home-left">
                    <div class="out-right-30">
                        <div class="primary-block">
                            <div class="home-slide">
                                <img src="{TEMPLATE}/images/demo/banner.jpg" />
                            </div>
                        </div>
                        <div class="primary-block out-top-30">
                            <div class="head-block">
                                <p class="title-head">Sự kiện nổi bật đang diễn ra</p>
                            </div>
                            <div class="in-10">
                                <ul class="list-events">
                                    <li><a href="#">Event 1</a></li>
                                    <li><a href="#">Event 2</a></li>
                                    <li><a href="#">Event 3</a></li>
                                    <li><a href="#">Event 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="home-right">
                    <div class="primary-block">
                        <div class="login-block in-10">
                            <p class="login-text">Đăng nhập</p>

                            <form class="form-login" action="">
                                <div class="out-10">
                                    <input type="text" class="form-style input-lg" required="required" name="username" placeholder="Tên đăng nhập" autofocus />
                                </div>
                                <div class="out-10">
                                    <input type="password" class="form-style input-lg" required="required" name="password" placeholder="Mật khẩu" />
                                </div>
                                <div class="out-10">
                                    <p class="lostpass"><a href="#">Tôi đã quên mật khẩu ?</a></p>
                                </div>
                                <div class="out-10">
                                    <button class="btn btn-blue btn-block btn-upper btn-lg" type="submit">Đăng nhập</button>
                                </div>
                                <div class="out-10 register-line-block">
                                    <p>Tôi chưa có tài khoản</p>
                                    <a href="#" class="btn btn-orange btn-block btn-lg">Đăng ký tài khoản</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="copyright">
                Copyright &copy; NWebMU VIP. All rights reserved.<br />
                <span>Phiên bản web MU thiết kế và phát triển bởi www.nwebmu.net</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
<!-- END: QUANGVN_TEMPLATE -->