<div class="ModuleManage">
    <h3 class="TitleModule">WebShop</h3>
    
    <div class="content">


<?php if (isset($Use_ShopTapHoa) && $Use_ShopTapHoa == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_taphoa" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Tạp Hóa
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopVeEvent) && $Use_ShopVeEvent == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_event" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng vé Event
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopTienZen) && $Use_ShopTienZen == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_zen" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng tiền Zen
    		<span></span></p>
    	</a>
    </div>
		
	<div class="menulist">
        <a href="#webshop&act=bank2zen" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Rút Zen từ ngân hàng
    		<span>Vào nhân vật</span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopAcient) && $Use_ShopAcient == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_acient" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng SET Thần
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopKiem) && $Use_ShopKiem == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_kiem" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Kiếm
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopGay) && $Use_ShopGay == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_gay" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Gậy Phép Thuật
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopCung) && $Use_ShopCung == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_cung" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Cung - Nỏ
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopVuKhiKhac) && $Use_ShopVuKhiKhac == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_vukhikhac" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Vũ khí khác
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopKhien) && $Use_ShopKhien == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_khien" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Khiên
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopMu) && $Use_ShopMu == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_mu" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Mũ
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopAo) && $Use_ShopAo == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_ao" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Áo
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopQuan) && $Use_ShopQuan == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_quan" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Quần
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopTay) && $Use_ShopTay == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_tay" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Găng Tay
    		<span></span></p>
    	</a>
    </div>
<?php } ?>
		
<?php if (isset($Use_ShopChan) && $Use_ShopChan == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_chan" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Giày
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopTrangSuc) && $Use_ShopTrangSuc == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_trangsuc" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Trang Sức
    		<span></span></p>
    	</a>
    </div>
<?php } ?>


<?php if (isset($Use_ShopCanh) && $Use_ShopCanh == 1) { ?>
    <div class="menulist">
        <a href="#webshop&act=shop_canh" rel="ajax" class="button">
    		<img src="templates/images/icons/button/icon.png" />
    		<p>Cửa hàng Cánh
    		<span></span></p>
    	</a>
    </div>
<?php } ?>

    </div>
</div>