<div class="primary-block">
    <div class="main-content">
        <h1 class="title-content">Event >> GiftCode Tân Thủ</h1>
    </div>
</div>

<div class="primary-block out-top-20">
    <div class="in-20">
    	<table class="table table-blue table-text-center table-border-2">
				<tr bgcolor="#FFFFFF" >
					<td align="center"><strong>Lớp nhân vật</strong></td>
					<td align="center"><strong>Thông tin phần thưởng GiftCode tân thủ</strong></td>
				</tr>
				<tr bgcolor="#FFFFFF" >
					<td align="center"><strong>Phù Thủy</strong></td>
					<td align="left"><?php echo $msg_dw; ?></td>
				</tr>
                <tr bgcolor="#FFFFFF" >
					<td align="center"><strong>Chiến Binh</strong></td>
					<td align="left"><?php echo $msg_dk; ?></td>
				</tr>
                <tr bgcolor="#FFFFFF" >
					<td align="center"><strong>Tiên Nữ</strong></td>
					<td align="left"><?php echo $msg_elf; ?></td>
				</tr>
                <tr bgcolor="#FFFFFF" >
					<td align="center"><strong>Đấu Sĩ</strong></td>
					<td align="left"><?php echo $msg_mg; ?></td>
				</tr>
                <tr bgcolor="#FFFFFF" >
					<td align="center"><strong>Chúa Tể</strong></td>
					<td align="left"><?php echo $msg_dl; ?></td>
				</tr>
                <tr bgcolor="#FFFFFF" >
					<td align="center"><strong>Thuật Sĩ</strong></td>
					<td align="left"><?php echo $msg_sum; ?></td>
				</tr>
                <tr bgcolor="#FFFFFF" >
					<td align="center"><strong>Chiến Binh Thép</strong></td>
					<td align="left"><?php echo $msg_rf; ?></td>
				</tr>
                <tr bgcolor="#FFFFFF" >
					<td align="center" colspan="2">
                        <font color='red'><strong>Để nhận mã GiftCode Tân Thủ</strong></font><br />
                        <font color='black'>Vui lòng dùng SĐT của tài khoản nhắn tin với cú pháp bên dưới để hoàn tất</font><br>
						<font color='red'><b><?php echo $cuphap_pri; ?>&nbsp;&nbsp;&nbsp;<?php echo $cuphap; ?>&nbsp;&nbsp;&nbsp;TanThu&nbsp;&nbsp;&nbsp;<?php echo $_SESSION['mu_username']; ?></b></font>&nbsp;&nbsp;&nbsp;gửi&nbsp;&nbsp;&nbsp;<font color='blue'><b><?php echo $dauso; ?></b></font> <font color='gray'><i>(Phí nhắn tin : <?php echo $sms_price; ?> VNĐ)</i></font>
                    </td>
				</tr>
                <tr bgcolor="#FFFFFF" >
					<td align="justify" colspan="2">
					<center><b>Lưu Ý</b></center><br />
					- Phần thưởng nhận được tương ứng với lớp nhân vật chọn khi <strong>nhận phần thưởng GiftCode</strong>.<br />
                    - Mỗi tài khoản chỉ nhận và sử dụng được GiftCode tân thủ 1 lần duy nhất.<br />
                    - Không thể sử dụng GiftCode tân thủ của tài khoản này cho tài khoản khác.<br />
                    - Phần thưởng GiftCode tân thủ không thể giao dịch, Bán Shop, Sửa.<br />
					</td>
				</tr>
			</table>
        
    </div>
</div>