<div class="primary-block">
    <div class="main-content">
        <h1 class="title-content">Đổi Cash sang Vcent</h1>
    </div>
</div>

<div class="primary-block out-top-20">
    <div class="in-20">
        <form id="cash2vpoint" name="cash2vpoint" method="post" action="index.php?mod=tiente&act=cash2vpoint">
            <input type="hidden" name="action" value="cash2vpoint" />
            <div class="form-3">
                <div class="form-row">
                    <div class="form-col-1">&nbsp;</div>
                    <div class="form-col-2">
                        <div class="caption-block caption-blue">Tỷ giá : 1 Cash = 90 Vcent</span></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col-1">Cash</div>
                    <div class="form-col-2">
                        <input class="form-style" type="text" name="cash" id="cash" size="14" maxlength="10"/>
                    </div>
                    <div class="form-col-3">
                        <span class="form-middle">đổi sang VCent</span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col-1">Mật khẩu cấp 2</div>
                    <div class="form-col-2"><input class="form-style" type="password" name="pass2" size="14" maxlength="32"/>
                    </div>
                </div>

                <div class="form-submit">
                    <button class="btn btn-green btn-lg" type="submit" name="Submit">Đổi Cash sang Vcent</button>
                </div>
            </div>
        </form>

    </div>
</div>