<div class="primary-block">
    <div class="main-content">
        <h1 class="title-content">Đổi Gcent sang GoblinCoin</h1>
    </div>
</div>

<div class="primary-block out-top-20">
    <div class="in-20">
        <form id="gcoin2goblincoin" name="gcoin2goblincoin" method="post" action="index.php?mod=tiente&act=gcoin2goblincoin">
            <input type="hidden" name="action" value="gcoin2goblincoin" />
            <div class="form-3">

                <div class="form-row">
                    <div class="form-col-1">&nbsp;</div>
                    <div class="form-col-2">
                        <div class="caption-block caption-blue">Tỷ giá : 1 Gcent = 1 GoblinCoin</span></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col-1">Gcent</div>
                    <div class="form-col-2">
                        <input class="form-style" type="text" name="gcoin" id="gcoin" size="14" maxlength="10"/>
                    </div>
                    <div class="form-col-3">
                        <span class="form-middle">đổi sang GoblinCoin</span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col-1">Mật khẩu cấp 2</div>
                    <div class="form-col-2"><input class="form-style" type="password" name="pass2" size="14" maxlength="32"/>
                    </div>
                </div>

                <div class="form-submit">
                    <button class="btn btn-green btn-lg" type="submit" name="Submit">Đổi Gcent sang GoblinCoin</button>
                </div>
            </div>
        </form>

    </div>
</div>