<div class="primary-block">
    <div class="main-content">
        <h1 class="title-content">Đổi Vcent sang Cash</h1>
    </div>
</div>

<div class="primary-block out-top-20">
    <div class="in-20">
        <form id="vpoint2cash" name="vpoint2cash" method="post" action="index.php?mod=tiente&act=vpoint2cash">
            <input type="hidden" name="action" value="vpoint2cash" />
                        <center><b>Tỷ giá : 100 Vcent = 1 Cash</b></center>
            <div class="form-3">
                <div class="form-row">
                    <div class="form-col-1">Vcent</div>
                    <div class="form-col-2">
                        <input class="form-style" type="text" name="vpoint" id="vpoint" size="14" maxlength="10"/>
                    </div>
                    <div class="form-col-3">
                        <span class="form-middle">đổi sang Cash</span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col-1">Mật khẩu cấp 2</div>
                    <div class="form-col-2">
                        <input class="form-style" type="password" name="pass2" size="14" maxlength="32"/>
                    </div>
                </div>

                <div class="form-submit">
                    <button class="btn btn-green btn-lg" type="submit" name="Submit">Đổi Vcent sang Cash</button>
                </div>
            </div>
        </form>
    </div>
</div>