<style type="text/css">
<!--
.style1 {
	color: #0000FF;
	font-size: 24px;
}
-->
</style>
<div align="center" class="style1">
  <p><a href="./admin.php">Administrator Thi&#7871;t &#272;&#7863;t C&#7845;u H&igrave;nh</a></p>
  <p><a href="./admin">Administrator Qu&#7843;n L&yacute; Game</a></p>
</div>