<?php if (isset($_SESSION['mu_nvchon'])) { ?>
<div class="primary-block">
    <div class="main-content">
        <h1 class="title-content">Xóa đồ nhân vật</h1>
    </div>
</div>

<div class="priority-block out-top-20">
    <div class="head-block">
        <h1 class="title-head"><span class="text-semibold">Lưu ý</span></h1>
    </div>
    <div class="in-20">
        <div id="rs_content">
            <ul class="noted in-left-10">
                <li>Nhân vật Xóa đồ không được đang trong Game</li>
                <li>Cất hết đồ không cần xóa ra khỏi người, hành trang và cửa hàng cá nhân</li>
            </ul>
        </div>
    </div>
</div>


<div class="primary-block out-top-20">
    <div class="in-20">

<form id="emptychar" name="emptychar" method="post" action="index.php?mod=char_manager&act=emptychar">
	<input type="hidden" name="action" value="emptychar" />
	<input type="hidden" name="character" value="<?php echo $_SESSION['mu_nvchon']; ?>" />
    <div class="form-2">
        <div class="form-row">
            <div class="form-col-1"><span>Nhân vật Xóa Đồ </span></div>
            <div class="form-col-2">
                <span class="tag tag-orange"><?php echo $_SESSION['mu_nvchon']; ?></span>
            </div>
            <div class="form-col-3">&nbsp;</div>
        </div>
        
        <div class="form-row">
            <div class="form-col-1"><span>Tình trạng</span></div>
            <div class="form-col-2"><?php echo $notice_accept; ?></div>
            <div class="form-col-3">&nbsp;</div>
        </div>
        
        <div class="form-row">
            <div class="form-col-1"><span>Mật khẩu cấp 2</span></div>
            <div class="form-col-2">
                <input class="form-style" type="password" name="pass2" size="14" maxlength="32"/>
            </div>
            <div class="form-col-3">&nbsp;</div>
        </div>

            <div class="form-submit">

                    <button class="btn btn-green btn-block btn-lg" type="submit" name="Submit" <?php if($accept=='0') { echo 'disabled="disabled"'; } ?> onclick="return confirm('Bạn đã chắc chắn muốn xóa toàn bộ đồ trên người không ?. Mọi vấn đề mất mát do không cất đồ các bạn tự chịu trách nhiệm.')">Thực hiện Xóa Đồ</button>

            </div>
        </div>
</form>
    </div>
    </div>
<?php } else include('modules/char_manager.php'); ?>