ul, li, ol{
	list-style: none;
	padding: 0; 
	margin: 0;
}
body{
	font-family: Arial, sans-serif;
	font-size: 14px;
	background: #140b11;
	overflow-x: hidden;
}
.wrapper.index .wrapper-bg-top{
	background: url(../images/bg-top.jpg) no-repeat center top;
}
.wrapper.detail .wrapper-bg-top{
	background: url(../images/bg-top-detail.jpg) no-repeat center top;
}
.wrapper .wrapper-bg-bottom{
	background: url(../images/bg-bottom.jpg) no-repeat center bottom;
}
.wrapper.detail .header .nav-top{
	height: 190px;
}
.container{
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}
.header .nav-top{
	width: 100%;
	padding-left: 300px;
}
.header .nav-top{
	height: 215px;
}

.header .nav-top .list-nav-top{
	padding-top: 50px;
	width: 100%;
	display: table;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	position: relative;
}
.header .nav-top .list-nav-top:hover{
	padding-top: 20px;
}
.header .nav-top .list-nav-top:hover > li > ul{
	opacity: 1;
	visibility: visible;
}
.header .nav-top .list-nav-top:before{
	
}
.header .nav-top .list-nav-top:hover:before{
	top: 20px;
}
.header .nav-top .list-nav-top > li{
	float: left;
	position: relative;
}

.header .nav-top .list-nav-top > li > a{
	display: block;
	height: 35px;
	position: relative;
}
.header .nav-top .list-nav-top > li > ul{
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease;
}
.header .nav-top .list-nav-top > li > ul > li{
	width: 100%;
	display: block;
}
.header .nav-top .list-nav-top > li > ul > li > a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 3px #000, 0 0 5px #000;
	padding: 2px 0;
}
.header .nav-top .list-nav-top > li > ul > li > a:hover{
	color: #ffcc00;
}

.header .nav-top .list-nav-top > li > a:before{
	content: ' ';
	position: absolute;
}
.header .nav-top .list-nav-top > li > a.tc{
	width: 125px;
}
.header .nav-top .list-nav-top > li > a.tc:before{
	width: 89px;
	height: 24px;
	background: url(../images/nav-top-tc.png) no-repeat;
	top: 7px;
	left: 17px;
}
.header .nav-top .list-nav-top > li > a.tt{
	width: 125px;
}
.header .nav-top .list-nav-top > li > a.tt:before{
	width: 64px;
	height: 21px;
	background: url(../images/nav-top-tt.png) no-repeat;
	top: 8px;
	left: 31px;
}
.header .nav-top .list-nav-top > li > a.cd{
	width: 145px;
}
.header .nav-top .list-nav-top > li > a.cd:before{
	width: 98px;
	height: 24px;
	background: url(../images/nav-top-cd.png) no-repeat;
	top: 8px;
	left: 27px;
}
.header .nav-top .list-nav-top > li > a.dv{
	width: 155px;
}
.header .nav-top .list-nav-top > li > a.dv:before{
	width: 67px;
	height: 23px;
	background: url(../images/nav-top-dv.png) no-repeat;
	top: 8px;
	left: 44px;
}
.header .nav-top .list-nav-top > li > a.dd{
	width: 150px;
}
.header .nav-top .list-nav-top > li > a.dd:before{
	width: 78px;
	height: 22px;
	background: url(../images/nav-top-dd.png) no-repeat;
	top: 8px;
	left: 36px;
}
.header .header-main{
	width: 100%;
	padding-left: 300px;
	display: table;
	margin-bottom: 15px;
}
.header .header-main .download{
	display: block;
	float: left;
	width: 435px;
	height: 228px;
	position: relative;
	cursor: pointer;
}
.header .header-main .download:before{
	content: ' ';
	width: 442px;
	height: 259px;
	background: url(../images/tai-game-1.png) no-repeat;
	position: absolute;
	top: -3px;
	left: -3px;
}
.header .header-main .download:after{
	content: ' ';
	width: 442px;
	height: 259px;
	background: url(../images/tai-game-2.png) no-repeat;
	position: absolute;
	top: -3px;
	left: -3px;
	opacity: 0;
	-webkit-transition: opacity .8s ease;
	transition: opacity .8s ease;
}
.header .header-main .download:hover:after{
	opacity: 1;
}
.header .header-main .head-links{
	padding-left: 5px;
	float: left;
	width: 265px;
}
.header .header-main .head-links li{
	width: 119px;
	height: 104px;
	background: url(../images/nav-link-bg-1.png) no-repeat;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

.header .header-main .head-links li .register .icon:before{
	width: 40px;
	height: 45px;
	background: url(../images/nav-link-reg.png) no-repeat;
	left: 42px;
}
.header .header-main .head-links li .fanpage .icon:before{
	width: 23px;
	height: 46px;
	background: url(../images/nav-top-facebook.png) no-repeat;
	left: 46px;
}
.header .header-main .head-links li .support .icon:before{
	width: 46px;
	height: 43px;
	background: url(../images/nav-link-support.png) no-repeat;
	left: 37px;
}
.header .header-main .head-links li .forum .icon:before{
	width: 48px;
	height: 37px;
	background: url(../images/nav-top-forum.png) no-repeat;
	left: 35px;
}

.header .header-main .head-links li:hover{
	background: url(../images/nav-link-bg-2.png) no-repeat;
}
.header .header-main .head-links li:hover a{
	text-decoration: none;
}
.header .header-main .head-links li a{
	display: block;
	height: 104px;
	position: relative;
	color: #834a0b;
}
.header .header-main .head-links li a .icon{
	height: 65px;
	display: block;
	text-align: center;
	position: relative;
}

.header .header-main .head-links li a .icon:before{
	content: ' ';
	position: absolute;
	bottom: 0;
}
.header .header-main .head-links li a .text{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 5px;
}
.header .slider{
	width: 685px;
	height: 300px;
	margin-bottom: 20px;
	margin-left: 300px;
	background: url(../images/slide.jpg);
}
.main{
	margin-bottom: 20px;
}
.main .ranking{
	width: 300px;
	height: 365px;
	float: left;
	background: url(../images/ranking-bg.png) no-repeat center top;
}
.main .ranking .title-ranking{
	width: 170px;
	height: 29px;
	background: url(../images/title-ranking.png) no-repeat;
	display: block;
	margin-left: 70px;
	margin-top: 20px;
}
.main .ranking .ranking-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.main .ranking .ranking-list li{
	display: table;
	width: 100%;
	background: url(../images/ranking-line.png) no-repeat center bottom;
	padding: 3px 0;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}
.main .ranking .ranking-list li:last-child{
	background: none;
}
.main .ranking .ranking-list li.head-ranking{
	color: #ffd200;
	font-weight: bold;
	background: none;
	padding-bottom: 0;
	padding-top: 0;
}
.main .ranking .ranking-list li .column{
	float: left;
}
.main .ranking .ranking-list li .column.name{
	width: 193px;
	padding-left: 27px;
}
.main .ranking .ranking-list li .column.rs{
	width: 50px;
	text-align: center;
}
.main .ranking .ranking-list li .column.rl{
	width: 40px;
	text-align: center;
}
.main .news{
	width: 670px;
	float: left;
	position: relative;
}
.main .news > div{
	width: 745px;
	height: 378px;
	background: url(../images/news-bg.png) no-repeat;
	position: absolute;
	top: -12px;
	left: -24px;
	padding:  33px 49px 14px 51px;
}
.main .news .nav-tabs{
	border: none;
	padding-left: 30px;
}
.main .news .nav-tabs > li > a{
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	background: url(../images/news-tab-space.png) no-repeat right 7px;
}
.main .news .nav-tabs > li:last-child > a{
	background: none;
}
.main .news .nav-tabs > li:hover > a{
	border-color: transparent;
}
.main .news .nav-tabs > li.active > a,
.main .news .nav-tabs > li:hover > a{
	border-color: transparent;
	color: #ffde00;
}
.main .news .tab-content .list-news{
	padding: 5px 10px 0 10px;
}
.main .news .tab-content .list-news li{
	display: block;
}
.main .news .tab-content .list-news li a{
	padding: 1px 0;
	font-size: 14px;
	color: #fff;
	width: 100%;
	display: table;
}
.main .news .tab-content .list-news li a .prefix{
	color: #e64949;
	width: 100px;
	float: left;
	min-height: 5px;
}
.main .news .tab-content .list-news li a .time{
	color: #ffc34e;
	float: right;
	width: 74px;
}

.main .news .tab-content .list-news li a .title{
	width: 443px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main .news .tab-content .list-news li:hover a .title{
	color: #ffc34e;
}
.main .main-left{
	width: 690px;
	float: left;
	background: #2a2121;
	padding: 25px;
}
.main .main-left .title{
	color: #ffee30;
	font-size: 26px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 15px 0;
}
.main .main-left .content{
	color: #fff;
	font-size: 15px;
	min-height: 400px;
}
.main .main-left .content table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #d49659;
	margin: 20px 0;
}
.main .main-left .content th, .main .main-left .content td{
	border-collapse: collapse;
	border: 1px solid #d49659;
}
.main .main-left .content table thead tr{
	background: #cc782b;
}
.main .main-left .content table tbody tr{
	background: #4c4131;
}
.main .main-left .content table tbody tr:nth-child(2n+1){
	background: #443929;
}
.main .main-left .content table tbody tr td,
.main .main-left .content table thead tr th{
	padding: 5px;
}
.main .main-left .content ul{
	padding-left: 10px;
}
.main .main-right{
	width: 290px;
	float: left;
	margin-left: 20px;
}
.main .main-right .download{
	height: 175px;
	width: 100%;
	position: relative;
	display: block;
}
.main .main-right .download:before{
	content: ' ';
	width: 284px;
	height: 175px;
	background: url(../images/tai-game-small-1.png) no-repeat;
	position: absolute;
	top: 0;
	left: -3px;
}
.main .main-right .download:hover:before{
	background: url(../images/tai-game-small-2.png) no-repeat;
}

.main .main-right .main-right-links{
	padding-left: 5px;
	float: left;
	width: 265px;
}
.main .main-right .main-right-links li{
	width: 119px;
	height: 104px;
	background: url(../images/nav-link-bg-1.png) no-repeat;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

.main .main-right .main-right-links li .register .icon:before{
	width: 40px;
	height: 45px;
	background: url(../images/nav-link-reg.png) no-repeat;
	left: 42px;
}
.main .main-right .main-right-links li .fanpage .icon:before{
	width: 23px;
	height: 46px;
	background: url(../images/nav-top-facebook.png) no-repeat;
	left: 46px;
}
.main .main-right .main-right-links li .support .icon:before{
	width: 46px;
	height: 43px;
	background: url(../images/nav-link-support.png) no-repeat;
	left: 37px;
}
.main .main-right .main-right-links li .forum .icon:before{
	width: 48px;
	height: 37px;
	background: url(../images/nav-top-forum.png) no-repeat;
	left: 35px;
}

.main .main-right .main-right-links li:hover{
	background: url(../images/nav-link-bg-2.png) no-repeat;
}
.main .main-right .main-right-links li:hover a{
	text-decoration: none;
}
.main .main-right .main-right-links li a{
	display: block;
	height: 104px;
	position: relative;
	color: #834a0b;
}
.main .main-right .main-right-links li a .icon{
	height: 65px;
	display: block;
	text-align: center;
	position: relative;
}

.main .main-right .main-right-links li a .icon:before{
	content: ' ';
	position: absolute;
	bottom: 0;
}
.main .main-right .main-right-links li a .text{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 5px;
}
.main .main-left .breadcrumb{
	background: none;
	color: #ff0000;
	border-bottom: 2px solid #796464;
	border-radius: 0;
}
.main .main-left .breadcrumb li a{
	color: #fff;
}
.gallery{
	height: 280px;
	background: url(../images/gallery-bg.png) no-repeat center top;
}
.gallery .title{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 38px 0 10px 50px;
	margin: 0;
}
.gallery .gallery-list{
	width: 100%;
	display: table;
	padding: 0 40px;
}
.gallery .gallery-list li{
	width: 25%;
	float: left;
	text-align: center;
}
.gallery .gallery-list li img{
	border: 1px solid #887b6c;
	max-width: 100%;
}
.footer{
	padding: 60px 0 40px 0;
}
.footer .copyright{
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.download-page-block {
padding: 15px 25px; }
.download-page-block .note-block {
background: #9f9f9f;
padding: 10px; }
.download-page-block .note-block > p {
padding: 0  0 0 40px;
margin: 0;
color: #252525;
font-style: italic;
position: relative; }


.download-page-block .dl-section {
        padding-top: 30px;
        clear: both; }
        .download-page-block .dl-section.dl-top {
          margin-top: 20px;
          padding-top: 0;
          width: 293px;
          clear: none;
          float: left; }
          .download-page-block .dl-section.dl-top.dl-first {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 2px solid #aaa; }
          .download-page-block .dl-section.dl-top .dl-list {
            padding-top: 10px; }
        .download-page-block .dl-section .dl-link-box {
          height: 108px;
          text-align: center; }
          .download-page-block .dl-section .dl-link-box > a {
            height: 108px;
            width: 266px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 5px;
            background: url(../images/download-page-btn.html) no-repeat 0 0;
            position: relative; }
            .download-page-block .dl-section .dl-link-box > a:hover {
              background-position: -266px 0; }
              .download-page-block .dl-section .dl-link-box > a:hover > p {
                color: #fff;
                bottom: -1px;
                text-shadow: 0 -1px rgba(0, 0, 0, 0.5); }
            .download-page-block .dl-section .dl-link-box > a > p {
              text-align: center;
              position: absolute;
              bottom: 0;
              left: 0;
              font-weight: bold;
              font-size: 20px;
              color: #feed01;
              display: block;
              width: 266px; }
        .download-page-block .dl-section .dl-title {
          height: 25px;
          width: 100%;
          border-bottom: 2px solid #707070;
          position: relative;
          margin: 0;
          padding: 0;
          color: #b94a4a;
          font-size: 20px; }
          .download-page-block .dl-section .dl-title:before {
            content: ' ';
            display: block;
            height: 2px;
            width: 60px;
            position: absolute;
            bottom: -2px;
            left: 0;
            background: #d95656; }
        .download-page-block .dl-section .dl-list {
          width: 100%; }
          .download-page-block .dl-section .dl-list > li {
            line-height: 40px;
            border-bottom: 1px solid #a6a2a2;
            color: #fff;
            font-size: 16px;
            padding-left: 10px; }
            .download-page-block .dl-section .dl-list > li:hover {
              background: #bbb; color: #000;}
            .download-page-block .dl-section .dl-list > li > a {
              float: right;
              background: #cb5b00;
              height: 26px;
              width: 100px;
              color: #ffd100;
              font-size: 14px;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
              border-radius: 3px;
              text-align: center;
              line-height: 26px;
              margin-top: 7px;
              margin-right: 10px; }
              .download-page-block .dl-section .dl-list > li > a:hover {
                text-decoration: none;
                color: #fff; }

.list-news-block, .detail-content {
      margin-left: 5px; }
      .list-news-block .list-pages, .detail-content .list-pages {
        width: 100%;
        text-align: center;
        padding: 10px 0 15px 0; }
        .list-news-block .list-pages > li, .detail-content .list-pages > li {
          margin: 0 1px;
          font-weight: bold;
          color: #4f4e4c;
          text-decoration: none;
          height: 24px;
          width: 24px;
          line-height: 24px;
          position: relative;
          display: inline-block;
          background: #aaa;
          border-radius: 3px; }
          .list-news-block .list-pages > li > a, .detail-content .list-pages > li > a {
            color: #4f4e4c;
            height: 24px;
            width: 24px;
            line-height: 24px;
            display: block; }
            .list-news-block .list-pages > li > a:hover, .detail-content .list-pages > li > a:hover {
              color: #bb2f2f;
              background: #333;
              border-radius: 3px; }
          .list-news-block .list-pages > li.active, .detail-content .list-pages > li.active {
            color: #bb2f2f;
            background: #eee;
            font-weight: bold; }
          .list-news-block .list-pages > li.first:hover:before, .detail-content .list-pages > li.first:hover:before {
            background-position: -183px -116px; }
          .list-news-block .list-pages > li.first:before, .detail-content .list-pages > li.first:before {
            content: ' ';
            display: block;
            height: 10px;
            width: 11px;
            background: url(../images/ui.html) no-repeat -183px -101px;
            position: absolute;
            top: 7px;
            left: 6px; }
          .list-news-block .list-pages > li.prev:hover:before, .detail-content .list-pages > li.prev:hover:before {
            background-position: -205px -116px; }
          .list-news-block .list-pages > li.prev:before, .detail-content .list-pages > li.prev:before {
            content: ' ';
            display: block;
            height: 10px;
            width: 11px;
            background: url(../images/ui.html) no-repeat -205px -101px;
            position: absolute;
            top: 7px;
            left: 8px; }
          .list-news-block .list-pages > li.next:hover:before, .detail-content .list-pages > li.next:hover:before {
            background-position: -219px -116px; }
          .list-news-block .list-pages > li.next:before, .detail-content .list-pages > li.next:before {
            content: ' ';
            display: block;
            height: 10px;
            width: 6px;
            background: url(../images/ui.html) no-repeat -219px -101px;
            position: absolute;
            top: 7px;
            left: 8px; }
          .list-news-block .list-pages > li.last:hover:before, .detail-content .list-pages > li.last:hover:before {
            background-position: -236px -116px; }
          .list-news-block .list-pages > li.last:before, .detail-content .list-pages > li.last:before {
            content: ' ';
            display: block;
            height: 10px;
            width: 11px;
            background: url(../images/ui.html) no-repeat -236px -101px;
            position: absolute;
            top: 7px;
            left: 6px; }
            .list-news-block .list-news-content .title{
            	font-size: 16px;
            }
            .list-news-block .list-news-content .time{
            	font-size: 16px;
            	color:#fff;
            	float: right;
            }
      .list-news-block .list-news-content, .detail-content .list-news-content {
        padding: 10px; }
        .list-news-block .list-news-content > li, .detail-content .list-news-content > li {
          border-bottom: 1px solid #9d9393;
          line-height: 40px; }
          .list-news-block .list-news-content > li a, .detail-content .list-news-content > li a {
            display: block;
            color: #3b3838; }
            .list-news-block .list-news-content > li a:hover, .detail-content .list-news-content > li a:hover {
              text-decoration: none;
               }
            .list-news-block .list-news-content > li a .prefix, .detail-content .list-news-content > li a .prefix {
              float: left;
              margin-right: 10px;
              color: #f53636;
              font-weight: bold; }
            .list-news-block .list-news-content > li a .datetime, .detail-content .list-news-content > li a .datetime {
              float: right;
              color: #939393; }
